.contenedorContador {
    color: #241b97;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    min-width: 130px;
    margin: auto !important;
}

.btnEstilo {
    background: #fab803;
    width: 32px !important;
    height: 32px !important;
    font-size: 18px;
    color: #241b97 !important;
    font-weight: 500;
    padding: 0 !important;
    border-radius: 50%;
    border: none;
    margin: 0 !important;
}

.btnEstilo2 {
    background: #ddd9d9;
    color: #241b97 !important;
    font-weight: 500;
    padding: 0.3rem 0.6rem;
    border-radius: 1.5rem;
    border: none;
}

.txtContador {
    margin: 0 !important;
}